
    <main>
	<h1>{{friend.name}} Profile</h1>
  <div class="form">
    <form action='/friendDetail/{{friend._id}}' method="POST">
      <div class="about">
        {{friend.avatar.name}}
        <p>
         
        Fiends alogs here
        </p>
          <div> 
            Friends List
          </div>
          <div>   
            <li><a href="/inbox/{{friend._id}}">Inbox</a></li>
            <li><a href="/deleteFriend/{{friend._id}}">Delete Friend</a></li>
            {{#if match}}
            {{else}}
            <button type="submit" name="addFriend" id="addFriend" value="addFriend">add Friend</button>
            {{/if}}
          </div>
      </div>
    </form>
  </div>      
    </main>