
    <main>
      <h1>Friends 
      {{aUser.name}}
      </h1>
      <img class="firend" src="{{aUser.imageUrl}}">
      <div class="friend">
        <p><span>Description:</span> {{aUser.description}}</p>
        <p><span>power level:</span>{{aUser.difficulty}}</p>
        <a class="btn" href="/attachAccessory/{{aUser._id}}">Add Accessory</a>
        <a class="btn" href="/friendDetail/{{aUser._id}}">Delete</a>
        <a class="btn" href="/">home</a>
        <a class="btn" href="/editCubePage/{{aUser._id}}">Edit</a>
      </div>

          
    
            <h2>Friends</h2>
            <div class="accessories">
                {{#if aUser.accessories.length}}
                {{#each aUser.accessories}}
                <div>{{name}}</div><div>{{imageUrl}}</div>
                {{/each}}
                {{else}}
                <h3 class="italic">This has no friends yet...</h3>
                {{/if}}
            </div>
        </main>
    