
    <main>
      <h1>
      {{aUser.name}} friend list
      </h1>
   
     

          
    
            <h2>Friends</h2>
            <div class="accessories">
                {{#if aUser.friend.length}}
                {{#each aUser.friend}}
                 <div class="friend">
       <div>{{name}}</div><div>{{avatar.name}}</div>
        <a class="btn" href="/attachAccessory/{{aUser._id}}">Message</a>
        <a class="btn" href="/friendDetail/{{aUser._id}}">FriendProfile</a>
      
     
      </div>
                
                {{/each}}
                {{else}}
                <h3 class="italic">This has no friends yet...</h3>
                {{/if}}
            </div>
        </main>
    