
    <main>
      <h1>Avatar {{aUser.name}}</h1>
      <form action="/" method="GET">
       
        
        {{!-- <input type="submit" value="post"> --}}
      </form>
      
        <h3>Avatar List</h3>
      {{#each avtrU}}
      <div class="friend">
        
        <p class="name">Name: {{name}}</p>
        <span>{{avatar.name}}</span>
        <a class="btn" href="/friendDetail/{{_id}}">{{name}} Profile</a>
      </div>
      
      {{/each}}
   

    </main>
