
    <main>
      <h1>Avatar {{aUser.name}}</h1>
      <form action="/" method="GET">
        <label>Alog</label>
        <input type="text" class="Alog" name="Alog" placeholder="Alog...">
        
        <input type="submit" value="post">
      </form>
      <div>
        Firend list Alog's
      {{#each aUser.friends}}
      <div class="friend">
        <img class="friend" src="{{imageUrl}}">
        <p class="name">Name: {{name}}</p>
        <span>{{aLog}}</span>
        <a class="btn" href="/profile{{_id}}">Details</a>
      </div>
      </div>
      {{/each}}
   

    </main>
