<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>Avatar Me</title>
		<link href="/stylesheets/site.css" type="text/css" rel="stylesheet" />
		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="/images/AvtrLogo.jpg"
		/>
	</head>

	<body>
		<div class="container">
			<header>
				<ul>
					<li><img class="logo" src="/images/AvtrLogo.jpg" /></li>
					<li><a href="/">Home</a></li>
					<li><a href="/friendList/{{aUser._id}}">friends List</a></li>
					<li><a href="/Profile/{{aUser._id}}">Profile</a></li>
					<li><a href="/createAvatar/{{aUser._id}}">Create Avatar</a></li>
					<li><a href="/logOut/{{aUser._id}}">Logout</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/registerUser">Register</a></li>
				</ul>
			</header>
			{{{body}}}
		</div>
		<footer>@Avatar: Exercise for Express.js and Handlebars</footer>
	</body>

</html>